################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SC82U3/azuredeploy.parameters_slot.json
/SC82U3/azuredeploy.parameters.json
.vs/