{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "deploymentId": {
      "value": "sc82u3-launch1"
    },
    "cmMsDeployPackageUrl": {
      "value": "https://ctsitecorepackages.blob.core.windows.net/sitecore82u3/Sitecore%208.2%20rev.%20170407_cm.scwdp.zip?st=2017-06-06T14%3A41%3A00Z&se=2017-08-31T14%3A41%3A00Z&sp=rl&sv=2015-12-11&sr=c&sig=Q0TTy85FNwerO6oCoM5As2i7WjN2eL7B%2B12RJLFuVPQ%3D"
    },
    "cdMsDeployPackageUrl": {
      "value": "https://ctsitecorepackages.blob.core.windows.net/sitecore82u3/Sitecore%208.2%20rev.%20170407_cd.scwdp.zip?st=2017-06-06T14%3A41%3A00Z&se=2017-08-31T14%3A41%3A00Z&sp=rl&sv=2015-12-11&sr=c&sig=Q0TTy85FNwerO6oCoM5As2i7WjN2eL7B%2B12RJLFuVPQ%3D"
    },
    "prcMsDeployPackageUrl": {
      "value": "https://ctsitecorepackages.blob.core.windows.net/sitecore82u3/Sitecore%208.2%20rev.%20170407_prc.scwdp.zip?st=2017-06-06T14%3A41%3A00Z&se=2017-08-31T14%3A41%3A00Z&sp=rl&sv=2015-12-11&sr=c&sig=Q0TTy85FNwerO6oCoM5As2i7WjN2eL7B%2B12RJLFuVPQ%3D"
    },
    "repMsDeployPackageUrl": {
      "value": "https://ctsitecorepackages.blob.core.windows.net/sitecore82u3/Sitecore%208.2%20rev.%20170407_rep.scwdp.zip?st=2017-06-06T14%3A41%3A00Z&se=2017-08-31T14%3A41%3A00Z&sp=rl&sv=2015-12-11&sr=c&sig=Q0TTy85FNwerO6oCoM5As2i7WjN2eL7B%2B12RJLFuVPQ%3D"
    },
    "sqlServerLogin": {
      "value": "sc823User"
    },
    "sqlServerPassword": {
      "value": "sc823P@ssword"
    },
    "sitecoreAdminPassword": {
      "value": "scAdminP@ssWord"
    },
    "repAuthenticationApiKey": {
      "value": "753D91D950D64CB0BCBF4E5678DDEB56"
    },
    "analyticsMongoDbConnectionString": {
      "value": "mongodb://sitecore82u3_cloud:S1teC0re@ds028310.mlab.com:28310/sitecore82u3_launch_analytics"
    },
    "trackingLiveMongoDbConnectionString": {
      "value": "mongodb://sitecore82u3_cloud:S1teC0re@ds028310.mlab.com:28310/sitecore82u3_launch_live"
    },
    "trackingHistoryMongoDbConnectionString": {
      "value": "mongodb://sitecore82u3_cloud:S1teC0re@ds028310.mlab.com:28310/sitecore82u3_launch_tracking_history"
    },
    "trackingContactMongoDbConnectionString": {
      "value": "mongodb://sitecore82u3_cloud:S1teC0re@ds028310.mlab.com:28310/sitecore82u3_launch_tracking_contact"
    },
    "licenseXml": {
      "value": ""
    },
    "modules": {
      "value": {
        "items": [
          {
            "name": "bootloader",
            "templateLink" : "https://ctsitecorepackages.blob.core.windows.net/sitecore/BootLoader/bootloader.json",
            "parameters": {
              "msDeployPackageUrl" : "https://ctsitecorepackages.blob.core.windows.net/sitecore/BootLoader/Sitecore.Cloud.Integration.Bootload.wdp.zip"
            }
          },
          {
            "name": "sitecore-package-deployer",
            "templateLink" : "https://ctsitecorepackages.blob.core.windows.net/sitecore/SitecorePackageDeployer/SitecorePackageDeployer.azuredeploy.json",
            "parameters": {
              "msDeployPackageUrl" : "https://ctsitecorepackages.blob.core.windows.net/sitecore/SitecorePackageDeployer/SitecorePackageDeployer-1.8.scwdp.zip"
            }
          }
        ]
      }
    }
  }
}