{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "deploymentId": {
      "value": "...."
    },
    "cmMsDeployPackageUrl": {
      "value": "..."
    },
    "cdMsDeployPackageUrl": {
      "value": "..."
    },
    "cddeployMsDeployPackageUrl": {
      "value": "..."
    },
    "prcMsDeployPackageUrl": {
      "value": "..."
    },
    "repMsDeployPackageUrl": {
      "value": "..."
    },
    "sqlServerLogin": {
      "value": "sc823User"
    },
    "sqlServerPassword": {
      "value": "..."
    },
    "sitecoreAdminPassword": {
      "value": "..."
    },
    "repAuthenticationApiKey": {
      "value": "..."
    },
    "analyticsMongoDbConnectionString": {
      "value": "..."
    },
    "trackingLiveMongoDbConnectionString": {
      "value": "..."
    },
    "trackingHistoryMongoDbConnectionString": {
      "value": "..."
    },
    "trackingContactMongoDbConnectionString": {
      "value": "..."
    },
    "sqlServerFqdn": {
      "value": "..."
    },
    "webSqlServerFqdn": {
      "value": "..."
    },
    "licenseXml": {
      "value": ""
    },
    "modules": {
      "value": {
        "items": [
          {
            "name": "bootloader",
            "templateLink": "https://????.blob.core.windows.net/sitecore/xp/addons/bootloader.json",
            "parameters": {
              "msDeployPackageUrl": "https://????.blob.core.windows.net/sitecore82u3/Sitecore.Cloud.Integration.Bootload.wdp.zip?[shared access signature]"
            }
          },
          {
            "name": "sitecore-package-deployer",
            "templateLink": "https://????.blob.core.windows.net/sitecore/SitecorePackageDeployer/SitecorePackageDeployer.azuredeploy.json",
            "parameters": {
              "msDeployPackageUrl": "https://????.blob.core.windows.net/sitecore/SitecorePackageDeployer/SitecorePackageDeployer-1.8.scwdp.zip"
            }
          },
          {
            "name": "launch-sitecore",
            "templateLink": "...",
            "parameters": {
              "msDeployPackageUrl": "..."
            }
          }
        ]
      }
    }
  }
}